### Project Title: Data for Sales Optimization
- This project leverage on the Cross Industry Standard Process for Data Mining (CRISP-DM) Approach to provide business intelligence for sales optimizations

### 1. Business Understanding

- **Project Overview:** 

The client has gathered transactional data from the year 2019 but has not yet leveraged this information to inform their business strategy. The goal of this project is to analyze this data and deliver a comprehensive report that provides actionable insights. The client seeks to identify opportunities to increase sales and optimize operational efficiency.

- **Objective:**

Primary Goal: Use the 2019 transactional data to uncover patterns, trends, and opportunities that can drive more sales and improve business processes.

Secondary Goal: Provide a clear roadmap based on data-driven insights that can support strategic decision-making and operational improvements.

### 1.1 Key Business Questions

1. How much money did we make this year? 

2. Can we identify any seasonality in the sales? 

3. What are our best and worst-selling products? 

4. How do sales compare to previous months or weeks? 

5. Which cities are our products delivered to most? 

6. How do product categories compare in revenue generated and quantities ordered? 

7. You are required to show additional details from your findings in your data.

### 1.2 Hypothesis 

**Null Hypothesis (H₀):** The total revenue for 2019 does not change significantly throughout the year.

**Alternative Hypothesis (H₁):** The total revenue for 2019 shows a significant change over time, either increasing or decreasing.

### 1.3 Methodology

To achieve these objectives, we will follow a systematic methodology that includes the following steps:

- **Data Collection:** Retrieve transactional data for the entire year of 2019 from both CSV files (January to June) and the remote database (July to December).

- **Data Preprocessing:** Clean and preprocess the data to handle missing values, outliers, and inconsistencies.

- **Exploratory Data Analysis (EDA):** Conduct exploratory data analysis to gain insights into the distribution, trends, and patterns within the data.

- **Statistical Analysis:** Perform statistical analysis to answer specific questions such as total revenue, seasonal trends, best-selling products, etc.

- **Data Visualization:** Visualize the findings using charts, graphs, and tables to facilitate understanding and interpretation.

- **Interpretation and Insights:** Provide actionable insights and recommendations based on the analysis to help the client make informed decisions.

- **Report Generation:** Prepare a comprehensive report summarizing the analysis, findings, and recommendations for the client's reference.

### 2. Data Understanding

2.1. **Data Description**

*Features*

- Order ID - This feature represents a unique identifier for each order.

- Product - This feature represents the name or type of product ordered.

- Quantity Ordered - This feature represents the quantity of each product ordered

- Price Each - This feature represents the price of each product.

- Order Date - This feature represents the date and time when the order was placed

- Purchase Address - This feature represents the address where the purchase was made

**Numerical features**
- Quantity Ordered
- Price Each

**Categorical features**
- Order ID
- Product
- Purchase Address

**Date features**
- Order Date

### Import relevant liberies

In [4]:
# Data Manipulation and Handling
import pandas as pd
import numpy as np
import pyodbc
from dotenv import dotenv_values

# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Statistical Analysis
import scipy.stats as stats

# Other Utilities
import os
import warnings
warnings.filterwarnings('ignore')

### load OneDrive Dataset

In [9]:
# Define the directory path where your CSV files are located
directory_path = 'data'

# List all CSV files in the directory
file_names = [file for file in os.listdir(directory_path) if file.endswith('.csv')]

# Create full file paths by joining directory path with file names
file_paths = [os.path.join(directory_path, file_name) for file_name in file_names]

# Print the file paths for verification
print("File Paths:")
for path in file_paths:
    print(path)

# Iterate through each file and print unique column names
for file_path in file_paths:
    try:
        # Load CSV file into DataFrame
        df = pd.read_csv(file_path)
        
        # Get and print unique column names
        unique_columns = df.columns.tolist()
        print(f"\nUnique column names in {os.path.basename(file_path)}:")
        print(unique_columns)
    
    except Exception as e:
        print(f"Error loading {file_path}: {e}")

File Paths:
data\Sales_April_2019.csv
data\Sales_February_2019.csv
data\Sales_January_2019.csv
data\Sales_June_2019.csv
data\Sales_March_2019.csv
data\Sales_May_2019.csv

Unique column names in Sales_April_2019.csv:
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']

Unique column names in Sales_February_2019.csv:
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']

Unique column names in Sales_January_2019.csv:
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']

Unique column names in Sales_June_2019.csv:
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']

Unique column names in Sales_March_2019.csv:
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']

Unique column names in Sales_May_2019.csv:
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']

Confirm files contain common column names to concatenate into one DataFrame

### Concatenate files into one DataFrame

In [11]:
import os
import pandas as pd

# Define the directory path where your CSV files are located
directory_path = 'data'

# List all CSV files in the directory
file_names = [file for file in os.listdir(directory_path) if file.endswith('.csv')]

# Create full file paths by joining directory path with file names
file_paths = [os.path.join(directory_path, file_name) for file_name in file_names]

# Load all CSV files into separate DataFrames
data_frames = [pd.read_csv(file) for file in file_paths]

# Concatenate all DataFrames into a single DataFrame
combined_data = pd.concat(data_frames, ignore_index=True)

# Optionally, print the first few rows of the combined DataFrame to verify
#print("Combined DataFrame:")
combined_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### View combined_data from buttom

In [12]:
combined_data.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
85620,209916,Bose SoundSport Headphones,1,99.99,05/08/19 19:15,"235 Center St, Seattle, WA 98101"
85621,209917,Wired Headphones,1,11.99,05/24/19 22:02,"926 9th St, San Francisco, CA 94016"
85622,209918,AAA Batteries (4-pack),2,2.99,05/24/19 17:44,"868 Hickory St, Boston, MA 02215"
85623,209919,USB-C Charging Cable,1,11.95,05/04/19 12:46,"204 Adams St, Seattle, WA 98101"
85624,209920,ThinkPad Laptop,1,999.99,05/18/19 23:07,"43 5th St, Atlanta, GA 30301"

### Save combine data into csv file 'onedrive_merge'

In [13]:
#save the combined DataFrame to a new CSV file

combined_data.to_csv('onedrive_merged.csv', index=False)

### View first half data (January - June) in one DataFrame 'first_half_data'

In [14]:
first_half_data = pd.read_csv('C:\\Users\\HP ELITEBOOK 830 G5\\OneDrive\\Desktop\\Home Office\\Azubi Project\\Sales-Analysis-Dashboarding\\onedrive_merged.csv') 

first_half_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
85620,209916,Bose SoundSport Headphones,1,99.99,05/08/19 19:15,"235 Center St, Seattle, WA 98101"
85621,209917,Wired Headphones,1,11.99,05/24/19 22:02,"926 9th St, San Francisco, CA 94016"
85622,209918,AAA Batteries (4-pack),2,2.99,05/24/19 17:44,"868 Hickory St, Boston, MA 02215"
85623,209919,USB-C Charging Cable,1,11.95,05/04/19 12:46,"204 Adams St, Seattle, WA 98101"
85624,209920,ThinkPad Laptop,1,999.99,05/18/19 23:07,"43 5th St, Atlanta, GA 30301"

### load second half data (July - December) from server

In [25]:
import pyodbc
from dotenv import dotenv_values

# Load environment variables from .env file into a dictionary
config = dotenv_values("../.env")

# Get the values for the credentials set in the '.env' file
server = config.get("server")
database = config.get("database")
username = config.get("username")
password = config.get("password")

# Connection string
connection_string = f"DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

# Establish a connection
try:
    connection = pyodbc.connect(connection_string)
    print("Connection established successfully.")
except Exception as e:
    print(f"Error connecting to database: {e}")

Error connecting to database: ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Named Pipes Provider: Could not open a connection to SQL Server [53].  (53) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (53)')